{% assign course = site.teaching | where:"ref", include.ref  | first %}


  {% if include.output == "horizontal" %}
  <div>
    <div>
      <a href="{{ course.url | relative_url}}">{{ course.title }}</a>
      <div>{{ course.description }}</div>
      <div>{{ course.semester }}</div>
    </div>
  </div>

    
  {% else %}
  <div>
    
    <div>
      {% if course.image %} 
      	<a href="{{ course.url | relative_url}}">
      		<img src="{{ course.image | relative_url}}"/>
      	</a>
      {% endif %}
    </div>

    <div>
      <div>{{ course.title }}</div>
      <a href="{{ course.url | relative_url}}">View Course</a>
    </div>

  </div>
  {% endif %}
